.for_scroll {
    height: 73vh;
    width: 100%;
    overflow: hidden;
}

#space_for_messages {
    height: 73vh;
    width: 98%;
    overflow: auto;
    padding: 1vh;
}

.list_of_mess div {
    margin-right: 1vw;
    border: 1px solid black;
    padding: 0.5vh 1vh;
    border-radius: 10px;
}
