#mess{
  height: 18vh;
}

.buttons{
  border-left: 1px solid black;
  display: inline-block;
  vertical-align: top;
  width: 12%;
  height: 18vh;
}

#write{
  display: inline-block;
  vertical-align: top;
  width: 85%;
  height: 17vh;

}

.spbut{
  color: black;
  list-style-type: none;
  height: 18vh;
  padding: 0;
  margin: 0;
}
.spbut a{
  text-decoration: none;
  font-family: sans-serif;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid black;
}
.spbut li{
  margin: 5px;
}
a#chick{
  font-size: 10px;
}
#search_form{
  display: inline-block;
}
#search_form input{
  display: inline-block;
}



a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}